<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel = "stylesheet" href = "{{'assets/css/styles.css'| relative_url}}">
  </head>
  <body>
   {% include navigation.html  %}
   <hr><br>
  <h1>{{ page.title}}</h1>
   <h3>Occupations</h3>
   <p><strong>Job: </strong>{{site.data.bjobs[0].jname}}</p>
   <p><strong>Duties: </strong>{{site.data.bjobs[0].duties}}</p>
   <p><strong>Pay: </strong>{{site.data.bjobs[0].dpay}}</p>
   <br>
   <p><strong>Job: </strong>{{site.data.bjobs[1].jname}}</p>
   <p><strong>Duties: </strong>{{site.data.bjobs[1].duties}}</p>
   <p><strong>Pay: </strong>{{site.data.bjobs[1].dpay}}</p>

    {{ content }}
    <br>
   {% include navigation.html  %}
  </body>
</html>
